<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head th:replace="fragments :: head"></head>
  <body class="container">

    <h1 th:text="${title}" class="text-center text-info">Ummm?</h1>

    <nav th:replace="fragments :: navigation"></nav>
    <br>
    <form method="post">
      <div class="form-group">
        <input type="hidden" th:field="${eventTag.event}" class="form-control">
        <select th:field="${eventTag.tag}">
          <option th:each="tag : ${tags}"
                  th:value="${tag.id}"
                  th:text="${tag.name}"
          ></option>
        </select>
        <input type="submit" value="Add Tag" class=" btn btn-info">
      </div>
    </form>

  </body>
</html>