
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
  </head>
  <body>

    <h1>All Events</h1>

<!--    <ul>-->
<!--      <th:block th:each="event : ${events}">-->
<!--        <li th:text="${event}"></li>-->
<!--      </th:block>-->
<!--    </ul>-->

<!--    <ul>-->
<!--      <th:block th:each="event : ${myEvents}">-->
<!--        <li th:text="${event.key}"></li>-->
<!--      </th:block>-->
<!--      <th:block th:each="des : ${myEvents.value}">-->
<!--        <li th:text="${des}"></li>-->
<!--      </th:block>-->
<!--    </ul>-->

    <table>
      <tr th:each="event : ${myEvents}">
        <td th:each="${event.get(event)}"></td>
    </table>

  </body>
</html>